[Unit]
Description=MLSS Monitor Flask App
After=network.target

[Service]
# Edit User and WorkingDirectory to match your installation
User=masadmin
WorkingDirectory=/home/masadmin/projects/git_versions/mars-air-quility
ExecStart=/home/masadmin/.local/bin/poetry run python mlss_monitor/app.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
