[Unit]
Description=MLSS Monitor Flask App
After=network.target

[Service]
User=masadmin
WorkingDirectory=/home/masadmin/projects/mlss-monitor/mlss_monitor-project
ExecStart=poetry run mlss_monitor
Environment="PATH=/home/masadmin/.local/bin/poetry:/home/masadmin/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Restart=always

[Install]
WantedBy=multi-user.target
